In [3]:
# frist function addition

def addition(a,b):
      print(a+b)

In [4]:
# second function substrication

def substrication(a,b):
    print(a-b)

In [5]:
# Third function multiplication

def multiplication(a,b):
    print(a*b)

In [6]:
# fourth function division

def division(a,b):
    print(a/b)

In [7]:
# above four funcion creating and calling the function

In [9]:
addition(100,200)

300

In [10]:
substrication(200,20)

180

In [11]:
multiplication(10,5)

50

In [12]:
division(1000,10)

100.0

In [13]:
# creating the class

class MECH:
    a=100

satish=MECH()
print(satish.a)

100

In [14]:
# create class and object

class CSE:
    name='satish'
    
x=CSE()
print(x.name)

satish

In [17]:
class addition:
    a=100
    b=200
    
    
c=addition()
print(c.a+c.b)

300

In [18]:
class multiplication:
    x=20
    y=5
    
z=multiplication()
print(z.x*z.y)

100

In [19]:
# no object
class multiplication:
    x=20
    y=5
    
print(multiplication.x*multiplication.y)

100

In [20]:
class AVENGERS:
  pass

AVENGERS.a = 10
AVENGERS.b = 30

print(AVENGERS.a * AVENGERS.b)

300

In [22]:
# constructor -> non parameter constructor

class shiva:
    def __init__(self):
        print("i am Going pune")
        
obj=shiva()

i am Going pune

In [23]:
class satish:
    def __init__(self):
        print('i am learing python')
course=satish()

i am learing python

In [25]:
# parameter
class addition:
    def __init__(self ,a,b):
        print(a+b)
total=addition(10,20)

30

In [26]:
class multiplication:
    def __init__(self,x,y):
        print(x*y)

tot=multiplication(15,5)

75

In [27]:
class satish:
    def __init__(self,a,b):
        self.a=a
        self.b=b
        print(self.a+self.b)
        
object=satish(10,5)

15

In [28]:
class sai:
    def __init__(self,x,y):
        self.x=x
        self.y=y
        print(self.x*self.y)
        
tot1=sai(100,5)

500

In [29]:
class checking:
    def addition(self,x,y):
        print(x+y)
    def substrication(self,x,y):
        print(x-y)
    def multiplication(self,x,y):
        print(x*y)
        
    def division(self,x,y):
        print(x/y)
satish=checking()
satish=addition(10,5)
satish=substrication(25,5)
satish=multiplication(10,5)
satish=division(1000,10)

15
20
50
100.0

In [30]:
class checking:
  def __init__(self,x,y,a,b,c,d):
    self.x = x
    self.y = y
    self.a = a
    self.b = b
    self.c = c
    self.d = d

  def addition(self):
    return self.x + self.y

  def subtraction(self):
    return self.x - self.y

  def multiplication(self):
    return self.c * self.d

  def division(self):
    return self.x / self.y

  def common(self):
    print(self.addition()  , self.subtraction() , self.multiplication() , self.division())


kiran = checking(10,20,1,2,3,4)
kiran.common()

30 -10 12 0.5

In [ ]:
# create the below four Functions

In [1]:
# addition
def add(a,b):
    print(a+b)

In [2]:
# substrication

def sub(a,b):
    print(a-b)

In [3]:
# multiplication

def mult(a,b):
    print(a-b)

In [10]:
# division

def division(a,b):
    print(a/b)

In [5]:
# calling the four Functions in below

In [6]:
add(250,350)

600

In [7]:
sub(300,120)

180

In [8]:
mult(10,5)

5

In [11]:
division(1000,10)

100.0

In [12]:
#create the class

class MECH:
    x='satish'
    
student=MECH()
print(student.x)

satish

In [15]:
# create class and object
class NAME:
    student1='kiran'
    student2='krishna'
students=NAME()
print(students.student1+students.student2)

kirankrishna

In [17]:
# no object
class COURSE:
    x='python'
    y='powerbi'

print(COURSE.x+COURSE.y)

pythonpowerbi

In [20]:
# no class

class INSTITUTE:
    pass
INSTITUTE.A=10
INSTITUTE.B=15
print(INSTITUTE.A*INSTITUTE.B)

150

In [28]:
# constructor:- NON PARAMETERS

class SATISH:
    def __init__(self):
        print('i am going to pune')
        print('i am learing python')
    
    
obj=SATISH()

i am going to pune
i am learing python

In [31]:
# parameter

class add:
    def __init__(self,x,y):
        print(x+y)
        
total=add(100,500)

600

In [35]:
class multiplication:
    def __init__(self,a,b):
        print(a*b)
        
mul=multiplication(10,5)

50

In [37]:
class name:
    def __init__(self,x,y):
        self.x=x
        self.y=y
        print(self.x+self.y)
        
int=name(20,40)

60

In [38]:
class check:
    def addition(self,x,y):
        print(x+y)
    def substrication(self,x,y):
        print(x-y)
    def multiplication(self,x,y):
        print(x*y)
    def division(self,x,y):
        print(x/y)
        
        
checking=check()
checking.addition(100,200)
checking.substrication(400,150)
checking.multiplication(10,5)
checking.division(10000,10)

300
250
50
1000.0

In [39]:
class checks:
    def __init__(self,a,b,c,d,e,f):
        self.a=a
        self.b=b
        self.c=c
        self.d=d
        self.e=e
        self.f=f
        
    def addition(self):
        return self.a+self.b
    def substrication(self):
        return self.a-self.b
    def multiplication(self):
        return self.c*self.d
    def division(self):
         return self.c/self.d
        
        
    def common(self):
        print(self.addition(),self.substrication(),self.multiplication(),self.division())
        
        
kiran=checks(100,45,67,89,25,35)
kiran.common()

145 55 5963 0.7528089887640449

In [40]:
# single Inheritance

class parent:
    def mumbai(self):
        print('i am going to hyderabad')
        
class child:
    def india(self):
        print('i am going to pune')
        
        
obj=parent() # create the object
obj.mumbai() # child class function

i am going to hyderabad

In [41]:

class parent:
    def mumbai(self):
        print('i am going to hyderabad')
        
class child:
    def india(self):
        print('i am going to pune')
        
        
obj=child()
obj.india()

i am going to pune

In [45]:
class parent:
    def mumbai(self):
        print('i am going to hyderabad')
        
class child(parent):
    def india(self):
        print('i am going to pune')
        
        
obj=child() # create the object
obj.india() # child the class

obj.mumbai() # parent the class

i am going to pune
i am going to hyderabad

In [47]:
class father:
    def living(self):
        print('i am in hyderabad')
        
class mother(father):
    def home(self):
        print('i am in pune')
        
        
        
        
house=mother()
house.home()
house.living()

i am in pune
i am in hyderabad

In [48]:
# multilevel inheritance:

class student:
    def course(self):
        print('i am learing python')
        
class student1(student):
    def course1(self):
        print('i am learing data Analysis')
        
class student2(student1):
    def course2(self):
        print('i am learing power bi')
        
        
learing=student1()
learing.course1()
learing.course()

i am learing data Analysis
i am learing python

In [51]:

class student:
    def course(self):
        print('i am learing python')
        
class student1(student):
    def course1(self):
        print('i am learing data Analysis')
        
class student2(student1):
    def course2(self):
        print('i am learing power bi')
        
        
learing=student2() # create the object
learing.course1() # student1 the class
learing.course() # student the class
learing.course2() # student2 the class

i am learing data Analysis
i am learing python
i am learing power bi

In [55]:
# multiple inheritance

class father:
    def uk(self):
        print('i am working tcs company')
        
class mother:
    def us(self):
        print('i am working hcl company')
 
class child(father,mother):
    def india(self):
        print('i am working capgemini company')
      
    
 
job=child()
job.india()

i am working capgemini company

In [56]:

class father:
    def uk(self):
        print('i am working tcs company')
        
class mother:
    def us(self):
        print('i am working hcl company')
 
class child(father,mother):
    def india(self):
        print('i am working capgemini company')
      
    
 
job=child()
job.india()
job.us()
job.uk()

i am working capgemini company
i am working hcl company
i am working tcs company

In [57]:
# Hierarical Inheritance


class parent:
  def tamilnadu(self):
    print('I used to stay in chennai')

class son1(parent):
  def mumbai(self):
    print('I am the Parent and I live in mumbai')

class son2(parent):
  def pakistan(self):
    print('I want to see Pakistan')

class son3(parent):
  def karnataka(self):
    print('Bangalore is best city')


obj = son3()
obj.karnataka()
obj.tamilnadu()

Bangalore is best city
I used to stay in chennai

In [58]:
# Hybrid Inheritance


class parent:
  def tamilnadu(self):
    print('I used to stay in chennai')

class son1(parent):
  def mumbai(self):
    print('I am the Parent and I live in mumbai')

class son2(parent):
  def pakistan(self):
    print('I want to see Pakistan')

class son3(son1,son2):
  def karnataka(self):
    print('Bangalore is best city')


obj = son2()
obj.pakistan()
obj.tamilnadu()

I want to see Pakistan
I used to stay in chennai